.leftCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 2rem;
}

.formContainer {
  align-items: center;
  background-image: url("../../assets/images/feedback.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid var(--color-primary);
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
}

.form {
  width: 70%;
}

.inputGroup {
  margin-bottom: 1.7rem;
  padding-top: 1.7rem;
  position: relative;
}

.input,
.textArea {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border: none;
  border-bottom: 1px solid #fafafa;
  color: var(--color-primary);
  display: block;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  width: 100%;
}

.input:focus,
.textArea:focus {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  outline: none;
}

.inputGroup > label {
  font-size: 1rem;
  left: 1rem;
  pointer-events: none;
  position: absolute;
  top: 2.4rem;
  transition: 0.2s ease all;
}

.input:focus ~ label,
.input:valid ~ label,
.input[type="email"]:invalid:not(.input[value=""]) ~ label,
.textArea:focus ~ label,
.textArea:valid ~ label {
  font-size: 0.9rem;
  top: 0;
}

.bar {
  display: block;
  position: relative;
  width: 100%;
}

.bar::before,
.bar::after {
  background-color: #5264ae;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transition: 0.2s ease all;
  width: 0;
  z-index: 100;
}

.bar::before {
  left: unset;
  right: 50%;
}

.input:focus ~ .bar::before,
.input:focus ~ .bar::after,
.textArea:focus ~ .bar::before,
.textArea:focus ~ .bar::after {
  width: 50%;
}

.sendButton {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  padding: 14px 42px;
  text-transform: uppercase;
}
