._left_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 2rem;
}

._form_container {
  align-items: center;
  background-image: url("../../assets/images/feedback.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--color-primary);
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
}

._form {
  width: 70%;
}

._input_group {
  margin-bottom: 1.7rem;
  padding-top: 1.7rem;
  position: relative;
}

._input,
._text_area {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border: none;
  border-bottom: 1px solid #fafafa;
  color: var(--color-primary);
  display: block;
  font-size: 1.2rem;
  padding: 0.7rem 1.4rem;
  width: 100%;
}

._input:focus,
._text_area:focus {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  outline: none;
}

._input_group > label {
  font-size: 1rem;
  left: 1.4rem;
  pointer-events: none;
  position: absolute;
  top: 2.4rem;
  transition: 0.2s ease all;
}

._input:focus ~ label,
._input:valid ~ label,
._input[type="email"]:invalid:not(._input[value=""]) ~ label,
._text_area:focus ~ label,
._text_area:valid ~ label {
  font-size: 0.9rem;
  left: 0.5rem;
  top: 0;
}

._input[type="email"]:invalid:not(._input[value=""]) {
  border-bottom: 2px solid red;
}

._input[type="email"]:invalid:not(._input[value=""]) ~ label::after {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 0, 0, 0.3);
  color: pink;
  content: "Please enter a valid email";
  padding: 10px;
  position: relative;
  left: 100%;
}

._bar {
  display: block;
  position: relative;
  width: 100%;
}

._bar::before,
._bar::after {
  background-color: #5264ae;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transition: 0.2s ease all;
  width: 0;
  z-index: 100;
}

._bar::before {
  left: unset;
  right: 50%;
}

._input:focus ~ ._bar::before,
._input:focus ~ ._bar::after,
._text_area:focus ~ ._bar::before,
._text_area:focus ~ ._bar::after {
  width: 50%;
}

.sendButton {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  font-family: "Josefin Slab";
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.16em;
  padding: 0.9em 3em;
  text-transform: uppercase;
}
