.leftCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 2rem;
}

.formContainer {
  align-items: center;
  background-color: palevioletred;
  background-image: url("../../assets/images/feedback.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  position: relative;
}

.form {
  width: 70%;
}

.inputGroup {
  padding: 2rem 0;
  position: relative;
}

.form input,
.form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fafafa;
  color: var(--color-primary);
  display: block;
  font-size: 1.2rem;
  height: 2rem;
  padding: 5px 10px;
  width: 100%;
}

.form input:focus,
.form textarea:focus {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  outline: none;
}

.form label {
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 2rem;
  transition: 0.2s ease all;
}

.form input:focus ~ label,
.form input:valid ~ label,
.form textarea:focus ~ label,
.form textarea:valid ~ label {
  font-size: 14px;
  top: 0;
}

.bar {
  display: block;
  position: relative;
  width: 100%;
}

.bar:before,
.bar:after {
  background-color: #5264ae;
  bottom: 1px;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  transition: 0.2s ease all;
  width: 0;
}

.bar:before {
  left: unset;
  right: 50%;
}

.inputGroup input:focus ~ .bar:before,
.inputGroup input:focus ~ .bar:after,
.inputGroup textarea:focus ~ .bar:before,
.inputGroup textarea:focus ~ .bar:after {
  width: 50%;
}

.feedbackImg {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -100;
}
