/* ._form_container::after {
  background-image: url("../../assets/images/smilee.png");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
} */

._left_col {
  margin-bottom: 5rem;
}

._form_container {
  align-items: center;
  background-image: url("/images/frost.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 5rem 0;
  position: relative;
  z-index: -3;
}

._form_container::before {
  bottom: 0;
  background-image: url("/images/neon_c.jpg");
  background-position: center;
  background-size: contain;
  content: "";
  filter: blur(12px);
  opacity: 0.97;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}

._form {
  width: 75%;
}

._input_group {
  --padding-horizontal-input: 1.4em;
  --padding-vertical-input: 0.7em;
  font-size: var(--font-size-text);
  margin-bottom: 1.7em;
  padding-top: 1.7em;
  position: relative;
}

._input_group label,
._input,
._text_area {
  font-family: "Open Sans";
  font-size: inherit;
}

._input,
._text_area {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border: none;
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
  display: block;
  padding: var(--padding-vertical-input) var(--padding-horizontal-input);
  width: 100%;
}

._input:focus,
._text_area:focus {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  outline: none;
}

._input_group > label {
  left: 1.4em;
  pointer-events: none;
  position: absolute;
  top: 2.4em;
  transition: 0.2s ease all;
}

._input:focus ~ label,
._input:valid ~ label,
._input[type="email"]:invalid:not(._input[value=""]) ~ label,
._text_area:focus ~ label,
._text_area:valid ~ label {
  font-size: 0.9em;
  left: 0.5em;
  top: 0;
}

._input[type="email"]:invalid:not(._input[value=""]) {
  border-bottom: 2px solid purple;
}

._bar {
  display: block;
  position: relative;
}

._bar::before,
._bar::after {
  background-color: #5264ae;
  bottom: 0;
  content: "";
  height: 2px;
  position: absolute;
  transition: 0.2s ease all;
  width: 0;
  z-index: 100;
}

._bar::before {
  right: 50%;
}

._bar::after {
  left: 50%;
}

._input:focus ~ ._bar::before,
._input:focus ~ ._bar::after,
._text_area:focus ~ ._bar::before,
._text_area:focus ~ ._bar::after {
  width: 50%;
}

._send_button {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  font-family: "Josefin Slab";
  font-size: var(--font-size-button);
  font-weight: 700;
  letter-spacing: 0.16em;
  overflow: hidden;
  padding: 0.7em 2.5em;
  text-transform: uppercase;
}

._send_button::after {
  background-image: url("/images/smilee.png");
  content: "";
}

._message_img {
  --width: 5rem;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--width);
}

._liked_post {
  --width: 11rem;
  height: var(--width);
  margin: 2rem auto 0;
  padding: 2rem;
  width: var(--width);
}

@media only screen and (min-width: 1000px) {
  ._left_col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  ._left_col > div:first-child {
    margin-bottom: 3rem;
  }

  ._form {
    width: 70%;
  }

  ._ice_cream {
    --width: 5rem;
    left: 0;
    position: absolute;
    transform: rotate(15deg);
    top: 20rem;
    width: var(--width);
  }
}
