._cards_container {
  margin-top: 12rem;
}

._card:not(:last-child) {
  margin-bottom: 9rem;
}

._card:nth-child(1) > ._card_img {
  background: linear-gradient(#721c1c 0%, #9c9c9c 100%);
}

._card:nth-child(2) > ._card_img {
  background: linear-gradient(#253b5e 0%, #9c9c9c 100%);
}

._card:nth-child(3) > ._card_img {
  background: linear-gradient(#345953 0%, #9c9c9c 100%);
}

._card_img > div > div {
  transform: translateY(1rem);
}

._button_ctn > div {
  display: flex;
}

._card_cta {
  --translate: 0.6em;
  background-color: var(--color-primary);
  bottom: 0;
  color: var(--color-background);
  cursor: pointer;
  display: inline-block;
  font-family: "Josefin Slab";
  font-size: var(--font-size-button);
  font-weight: 700;
  letter-spacing: 0.07em;
  margin: 1rem auto var(--translate);
  padding: 0.5em 1.2em;
  position: relative;
  transition: 200ms all ease;
  width: fit-content;
}

._card_cta::before {
  border: 1px solid var(--color-primary);
  bottom: calc(-1 * var(--translate));
  content: "";
  height: 100%;
  left: calc(-1 * var(--translate));
  pointer-events: none;
  position: absolute;
  transition: 200ms all ease;
  width: calc(100% + 2 * var(--translate));
  z-index: -1;
}

._card_cta:active {
  bottom: calc(-0.5 * var(--translate));
}

._card_cta:active::before {
  bottom: 0;
  left: 0;
  width: 100%;
}

._cta_text {
  pointer-events: none;
  transition: 250ms transform ease;
}

._heart_sign {
  --width: 5rem;
  height: var(--width);
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
}

@media screen and (min-width: 500px) {
  ._card_img > div {
    padding: 0 5%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  ._deco_img {
    --width: 6rem;
    position: absolute;
    top: 0;
    width: var(--width);
  }

  ._card:nth-child(odd) ._deco_img {
    left: calc(-1.2 * var(--padding-horizontal));
  }

  ._card:nth-child(even) ._deco_img {
    right: calc(-1.2 * var(--padding-horizontal));
  }
}

@media screen and (min-width: 1000px) {
  ._card {
    display: flex;
  }

  ._card:nth-child(even) {
    flex-direction: row-reverse;
  }

  ._card_img {
    width: 47%;
  }

  ._card_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 53%;
  }

  ._card:nth-child(odd) > ._card_info {
    padding-left: 3rem;
  }

  ._card:nth-child(even) > ._card_info {
    padding-right: 3rem;
  }

  ._card:nth-child(odd) ._heading {
    right: 0;
  }

  ._card_cta {
    margin-left: unset;
    margin-right: unset;
    padding: 0.7em 1.5em;
  }

  ._card_cta::before {
    width: 100%;
  }

  ._card:nth-child(odd) ._card_cta {
    left: calc(-1 * var(--translate));
    margin-left: auto;
  }

  ._card:nth-child(odd) ._card_cta::before {
    left: var(--translate);
  }

  ._card:nth-child(odd) ._card_cta:active {
    left: calc(-0.5 * var(--translate));
  }

  ._card:nth-child(odd) ._card_cta:active::before {
    left: 0;
  }

  ._card:nth-child(even) ._card_cta {
    left: var(--translate);
    margin-right: auto;
  }

  ._card:nth-child(even) ._card_cta:active {
    left: calc(0.5 * var(--translate));
  }

  ._deco_img {
    --width: 6rem;
    position: absolute;
    top: 0;
    width: var(--width);
  }

  ._card:nth-child(odd) ._deco_img {
    right: calc(-1.5 * var(--padding-horizontal));
  }

  ._card:nth-child(even) ._deco_img {
    left: calc(-1.8 * var(--padding-horizontal));
  }
}

@media screen and (min-width: 1400px) {
  ._heart_sign {
    --width: 7rem;
    left: unset;
    right: 60%;
  }
}
