._cards_container {
  margin-top: 12rem;
}

._card {
  display: flex;
}

._card:not(:last-child) {
  margin-bottom: 12rem;
}

._card:nth-child(even) {
  flex-direction: row-reverse;
}

._card_img_container {
  width: 53%;
}

._card:nth-child(1) > ._card_img_container {
  background: linear-gradient(#721c1c 0%, #9c9c9c 100%);
}

._card:nth-child(2) > ._card_img_container {
  background: linear-gradient(#253b5e 0%, #9c9c9c 100%);
}

._card:nth-child(3) > ._card_img_container {
  background: linear-gradient(#345953 0%, #9c9c9c 100%);
}

._card:nth-child(odd) ._card_img {
  padding: 5.5rem 5.5rem 2rem 2rem;
}

._card:nth-child(even) ._card_img {
  padding: 5.5rem 2rem 2rem 5.5rem;
}

._card_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 2rem;
  width: 47%;
}

._card:nth-child(odd) > ._card_info {
  padding-left: 2rem;
  padding-right: unset;
}

._card:nth-child(odd) ._heading {
  right: 0;
}

._card_cta {
  --translate: 0.6em;
  background-color: var(--color-primary);
  bottom: var(--translate);
  color: var(--color-background);
  cursor: pointer;
  display: inline-block;
  font-family: "Josefin Slab";
  font-size: 1.4rem;
  font-weight: 700;
  left: var(--translate);
  margin-bottom: 1.2em;
  margin-top: calc(var(--translate) + 1.2em);
  padding: 0.7em 1.5em;
  position: relative;
  transition: 200ms all ease;
  width: fit-content;
}

._card_cta::before {
  border: 1px solid var(--color-primary);
  bottom: calc(-1 * var(--translate));
  content: "";
  height: 100%;
  left: calc(-1 * var(--translate));
  pointer-events: none;
  position: absolute;
  transition: 200ms all ease;
  width: 100%;
  z-index: -1;
}

._card_cta:active {
  bottom: calc(0.5 * var(--translate));
  left: calc(0.5 * var(--translate));
}

._card_cta:active::before {
  bottom: 0;
  left: 0;
}

._card:nth-child(odd) ._card_cta {
  left: unset;
  margin-left: auto;
  right: var(--translate);
}

._card:nth-child(odd) ._card_cta::before {
  left: unset;
  right: calc(-1 * var(--translate));
}

._card:nth-child(odd) ._card_cta:active {
  bottom: calc(0.5 * var(--translate));
  right: calc(0.5 * var(--translate));
}

._card:nth-child(odd) ._card_cta:active::before {
  bottom: 0;
  right: 0;
}

._cta_text {
  pointer-events: none;
  transition: 250ms transform ease;
}

._deco_img {
  left: -6rem;
  position: absolute;
  top: 0;
  width: 200px;
}

._card:nth-child(odd) ._deco_img {
  left: unset;
  right: -8rem;
}

._heart_sign {
  height: 200px;
  position: absolute;
  left: 30%;
  top: 10rem;
  width: 200px;
}
