.card {
  display: flex;
  margin-bottom: 10rem;
}

.card:last-child {
  margin-bottom: unset;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.cardImg {
  background-color: rebeccapurple;
  width: 53%;
}

.cardImg > div {
  padding: 5.5rem 5.5rem 2rem 2rem;
}

.card:nth-child(even) > .cardImg > div {
  padding: 5.5rem 2rem 2rem 5.5rem;
}

.cardInfo {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  width: 47%;
}

.card:nth-child(odd) > .cardInfo {
  padding-left: 2rem;
  padding-right: unset;
}

.card:nth-child(odd) .heading > div {
  right: 0;
}
