:root {
  --color-background: #13161f;
  --color-primary: #fafafa;
  --perspective: 100px;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
  font-family: "Comfortaa";
  text-decoration: none;
}

h1,
h2 {
  font-family: "Zen Tokyo Zoo";
  font-size: 7rem;
  font-weight: 400;
}

h2 {
  font-size: 6rem;
  min-width: 30ch;
}

h3,
.canvasContainer {
  --font-size: 4rem;
}

h3 {
  display: inline-block;
  font-family: "Josefin Slab";
  font-size: var(--font-size);
  font-weight: 700;
  position: absolute;
  visibility: hidden;
  width: max-content;
}

p {
  font-family: "Open Sans";
  font-size: 1.1rem;
  line-height: 1.8rem;
  text-align: justify;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: var(--perspective);
  perspective-origin: bottom right;
  /* position: relative; */
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 0 6rem 7rem;
  transform-style: preserve-3d;
}

section:nth-child(2n + 1) h2 {
  padding-left: 50%;
}

section:nth-child(1) > .grid {
  padding: 1rem 5rem 0;
}

section:nth-child(2) > .grid {
  grid-template-columns: 60% 40%;
}

footer {
  border-top: solid 1px #fafafa;
  height: 100vh;
}

.canvasContainer {
  height: calc(1.5 * var(--font-size));
}

.canvasContainer > div {
  padding: 0 2rem;
  position: absolute;
  width: fit-content;
}

.canvasContainer > div::before,
.canvasContainer > div::after {
  content: open-quote;
  font-size: 4.5rem;
  left: 0;
  position: absolute;
  top: 0;
}

.canvasContainer > div::after {
  bottom: unset;
  content: close-quote;
  left: unset;
  right: 0;
  top: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.parallaxEl,
.parallaxEl > div {
  position: relative;
}

.parallaxEl > div {
  transform-origin: bottom right;
}
