/* :root {
  --color-background: #13161f;
  --color-primary: #fff;
  --font-size: 16px;
  --padding-horizontal: 6rem;
  --perspective: 100px;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-display: swap;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #ffffff;
  font-family: "Zen Tokyo Zoo";
  font-weight: 400;
  margin-block: 0.83em;
}

h1 {
  font-size: 6.5rem;
}

h2 {
  font-size: 5.5rem;
  min-width: 30ch;
}

p {
  color: #cecece;
  font-family: "Open Sans";
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: justify;
}

a {
  color: inherit;
  cursor: pointer;
  font-family: "Josefin Slab";
  font-size: 1.2rem;
  text-decoration: none;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: var(--perspective);
  perspective-origin: bottom right;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 0 var(--padding-horizontal);
}

section:not(:last-of-type) {
  padding-bottom: 14rem;
}

section:nth-child(odd) h2 {
  padding-left: 50%;
}

section:nth-child(1) > .grid {
  padding-top: 1.4em;
}

section:nth-child(2) > .grid {
  grid-template-columns: 65% 35%;
}

section:nth-child(3) h2 {
  margin-bottom: 2em;
}

footer {
  border-top: solid 1px #fafafa;
  max-height: 100vh;
  overflow-y: hidden;
}

footer::before {
  background-image: url("../assets/images/namaste.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 24vw;
  left: 0;
  position: absolute;
  top: 1.4rem;
  width: 24vw;
  z-index: -10;
}

footer::after {
  background-attachment: fixed;
  background-image: url("../assets/images/peace.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(200vh / 3);
  z-index: -10;
}

.font_tangerine {
  font-family: "Tangerine";
  font-style: normal;
  font-weight: 400;
}

.stroke_text {
  --font-size-canvas: 3.5rem;
  --line-height-canvas: 1.4;
  font-family: "Tangerine";
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  width: fit-content;
}

.stroke_text[data-quote="true"] {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(var(--font-size-canvas) + 2em);
  padding: 0 1.9em;
}

.stroke_text[data-quote="true"]::before,
.stroke_text[data-quote="true"]::after {
  content: open-quote;
  font-size: 7em;
  height: 100%;
  left: 0;
  position: absolute;
  top: -0.45em;
}

.stroke_text[data-quote="true"]::after {
  content: close-quote;
  left: unset;
  right: 15px;
  transform: translateY(70%);
}

.stroke_text > div::before {
  content: "~ ";
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.parallax_el > div {
  animation: 500ms fadeIn;
  position: relative;
  transform-origin: bottom right;
  transition: 500ms all ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1400px) {
  :root {
    --padding-horizontal: 4.5rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5rem;
  }

  p {
    font-size: 1rem;
  }

  a {
    font-size: 1.1rem;
  }

  .stroke_text {
    --font-size-canvas: 3rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1300px) {
  :root {
    --padding-horizontal: 4rem;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
    --padding-horizontal: 3.5rem;
  }

  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  p {
    line-height: 1.6;
  }

  .stroke_text {
    --font-size-canvas: 2.7rem;
  }
}

@media only screen and (max-width: 1100px) {
  :root {
    --padding-horizontal: 3rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  .stroke_text {
    --font-size-canvas: 2.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    --padding-horizontal: 2rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.5;
  }

  .stroke_text {
    --font-size-canvas: 2.2rem;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --padding-horizontal: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
    min-width: 100%;
  }

  p {
    line-height: 1.4;
  }

  section h2,
  section:nth-child(3) h2 {
    margin-bottom: 3.5em;
  }

  section:nth-child(odd) h2 {
    padding-left: 0;
    text-align: right;
  }

  .grid,
  section:nth-child(2) > .grid {
    grid-template-columns: 100%;
  }

  .stroke_text {
    --font-size-canvas: 2rem;
  }

  footer::before {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 3.8rem;
  }

  a {
    font-size: 1.8rem;
  }
} */

:root {
  --color-primary: #fff;
  --color-background: #13161f;
  --color-text: rgb(179, 179, 179);
  --color-ascent: purple;
  --color-warning: red;
  --font-size: 16px;
  --font-size-h1: 3.8rem;
  --font-size-h2: 3.5rem;
  --font-size-canvas: 2.5rem;
  --font-size-text: 1.1rem;
  --font-size-link: 1.2rem;
  --font-size-button: 1.2rem;
  --padding-horizontal: clamp(1rem, 7%, 2.5rem);
  --perspective: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

/* img {
  display: none !important;
} */

html,
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-display: swap;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: var(--font-size);
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.logo {
  position: fixed;
  height: 2rem;
  left: 1rem;
  top: 1rem;
  width: 2rem;
  z-index: 100;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: var(--color-primary);
  font-family: "Zen Tokyo Zoo";
  font-weight: 400;
  margin-block: 0.83em;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

p {
  backdrop-filter: blur(12px);
  color: var(--color-text);
  font-family: "Open Sans";
  font-size: var(--font-size-text);
  line-height: 1.8;
  margin-block: 1em;
  text-align: justify;
}

a {
  color: inherit;
  cursor: pointer;
  font-family: "Josefin Slab";
  font-size: var(--font-size-link);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: var(--perspective);
  perspective-origin: bottom right;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 0 var(--padding-horizontal);
}

section:not(:last-of-type) {
  padding-bottom: 14rem;
}

section h2 {
  margin-bottom: 3.5em;
}

section:nth-child(odd) h2 {
  text-align: right;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
}

section:nth-child(1) > .grid {
  padding-top: 3rem;
}

.parallax_elem > div {
  position: relative;
  transform-origin: bottom right;
}

.stroke_text {
  --font-size-canvas: 2.8rem;
  --line-height-canvas: 1.4;
  --text-align-canvas: center;
  position: absolute;
  width: fit-content;
}

footer {
  border-top: solid 1px var(--color-primary);
  overflow: hidden;
}

.font_tangerine {
  font-family: "Tangerine";
  font-style: normal;
  font-weight: 400;
}

@media only screen and (min-width: 500px) {
  :root {
    --padding-horizontal: clamp(2.5rem, 10%, 6rem);
  }

  .stroke_text[data-is-quote="true"] {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 0 1.9em;
  }

  .stroke_text[data-is-quote="true"]::before,
  .stroke_text[data-is-quote="true"]::after {
    font-size: 7em;
    position: absolute;
  }

  .stroke_text[data-is-quote="true"]::before {
    content: open-quote;
    left: 0;
    top: -0.45em;
  }

  .stroke_text[data-is-quote="true"]::after {
    bottom: -0.45em;
    content: close-quote;
    right: 1rem;
  }

  .stroke_text[data-is-quote="true"] > div {
    margin-top: 0.5em;
  }

  .stroke_text[data-is-quote="true"] > div::before {
    content: "~ ";
  }
}

@media only screen and (min-width: 800px) {
  :root {
    --padding-horizontal: clamp(6rem, 15%, 10rem);
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    --padding-horizontal: clamp(1rem, 2%, 2rem);
  }

  section:nth-child(odd) h2 {
    padding-left: 50%;
    text-align: left;
  }

  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  section:nth-child(2) > .grid {
    grid-template-columns: 65% 35%;
  }

  section:nth-child(even) .grid > div:first-child {
    padding-right: 3rem;
  }

  .stroke_text {
    --text-align-canvas: start;
  }

  .stroke_text[data-is-quote="true"] {
    align-items: flex-end;
    justify-content: space-between;
    min-height: calc(var(--font-size-canvas) + 2em);
  }

  .stroke_text[data-is-quote="true"] > div {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --padding-horizontal: clamp(2rem, 5%, 6rem);
  }
}

@media only screen and (min-width: 1400px) {
  :root {
    --font-size-h1: 4.5rem;
    --font-size-h2: 4rem;
    --font-size-text: 1.2rem;
  }

  p {
    line-height: 2;
  }

  .stroke_text {
    --font-size-canvas: 3.5rem;
  }

  footer::before {
    background-image: url("/images/namaste.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 24vw;
    left: 0;
    position: absolute;
    top: 1.4rem;
    width: 24vw;
    z-index: -10;
  }

  footer::after {
    background-attachment: fixed;
    background-image: url("/images/peace.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(200vh / 3);
    z-index: -10;
  }
}
