.leftCol {
  align-self: flex-end;
  display: flex;
  justify-content: flex-start;
}

.leftCol > div {
  width: 31rem;
}

.shortDesc {
  max-width: 60ch;
}

.cta {
  --dimension-image: 40rem;
  height: var(--dimension-image);
  position: absolute;
  right: 4rem;
  top: 22rem;
  transform: rotateX(180deg) rotateY(-180deg);
  width: calc(var(--dimension-image) * 1);
}
