._left_col {
  height: 100%;
  place-self: bottom;
}

._short_desc {
  max-width: 60ch;
}

._cta {
  height: 40rem;
  position: absolute;
  right: 4.5rem;
  top: 23rem;
  transform: rotateX(180deg) rotateY(180deg);
  width: 40rem;
}
