._intro_text {
  text-align: right;
}

._intro_text::before {
  background-image: url("/images/hi.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: calc(100% - 12ch);
}

@media only screen and (max-width: 349px) {
  ._intro_text {
    text-align: center;
  }

  ._intro_text::before {
    display: none;
  }
}

@media only screen and (max-width: 449px) {
  ._intro_text::before {
    left: calc(-1 * var(--padding-horizontal));
  }
}

@media only screen and (min-width: 1000px) {
  ._left_col {
    margin: auto;
    margin-bottom: var(--font-size-text);
    max-width: 100%;
  }

  ._intro_text {
    text-align: left;
  }

  ._intro_text::before {
    display: none;
  }

  ._cta {
    --width: 40%;
    height: var(--width);
    position: absolute;
    right: 9.5rem;
    top: 40rem;
    transform: rotateX(180deg) rotateY(180deg);
    width: var(--width);
  }
}
