.visualContent {
  width: 20vw;
}

/* .visualContent:first-child::before {
  background-image: url("../../assets/images/namaste.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 100;
} */

.visualContent:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* .visualContent h3 {
  position: unset;
  visibility: unset;
} */

.visualContent p {
  font-family: "Tangerine";
  font-size: 2rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60vw;
}

.mainContent p {
  /* flex: 0 1 auto; */
  text-align: inherit;
}

.fillsSpace {
  flex: 1 1 auto;
}

.socialLinks {
  display: grid;
  justify-content: center;
  /* flex: 0 1 6rem; */
  gap: 0 2rem;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: 5rem;
  list-style: none;
  padding: 2rem 0;
  margin: auto;
  width: 100%;
}

.glassIcon {
  justify-content: center;
  background: rgba(45, 48, 61, 0.2);
  /* box-shadow: inset 0px -5px 12px rgba(144, 14, 176, 0.35),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1); */
  box-shadow: inset 0px -1rem 2rem rgba(144, 14, 176, 0.35),
    inset 0px 0.5rem 1rem rgba(255, 255, 255, 0.1);
  display: flex;
}

.glassIcon::before {
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
  content: "";
  filter: blur(8px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
}

.glassIcon > a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.handImg {
  position: absolute;
  right: 0;
  top: 0;
  width: 30vw;
  z-index: -10;
}
