/* ._content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  text-align: center;
  width: 60vw;
}

._content p {
  flex: 0 1 auto;
  text-align: inherit;
}

._fill_space {
  flex: 1 1 auto;
}

._social_links {
  --gap: 2rem;
  --icon-size: 5rem;
  display: grid;
  justify-content: center;
  flex: 0 1 6rem;
  gap: var(--gap);
  grid-template-columns: repeat(7, var(--icon-size));
  grid-template-rows: var(--icon-size);
  list-style: none;
  padding: 2rem 0;
  margin: auto;
  width: 100%;
}

._glass_icon {
  overflow: hidden;
}

._glass_icon:hover {
  filter: grayscale(100%) brightness(500%);
}

._glass_icon::before {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
  content: "";
  filter: blur(27px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

._glass_icon::after {
  content: "";
  filter: blur(15px);
  height: 60%;
  left: 30%;
  opacity: 0.33;
  position: absolute;
  top: 20%;
  width: 40%;
  z-index: -1;
}

._glass_icon[data-platform="Facebook"] {
  box-shadow: inset 0 -1px 18px rgba(11, 130, 203, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="Facebook"]::after {
  background: linear-gradient(180deg, #1b77f2 0%, #62e3ff 100%);
}

._glass_icon[data-platform="GitHub"] {
  box-shadow: inset 0 -1px 18px rgba(0, 155, 255, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="GitHub"]::after {
  background: linear-gradient(232.83deg, #009bff 1.43%, #00ffe0 91.6%);
}

._glass_icon[data-platform="Instagram"] {
  box-shadow: inset 0 -1px 18px rgba(144, 14, 176, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="Instagram"]::after {
  background: linear-gradient(
    220.87deg,
    #4967d5 24.2%,
    #db2e7d 66.35%,
    #ffaf00 91.76%
  );
}

._glass_icon[data-platform="LinkedIn"] {
  box-shadow: inset 0 -1px 18px rgba(10, 102, 194, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="LinkedIn"]::after {
  background: linear-gradient(232.83deg, #0a66c2 1.43%, #0ac2c2 91.6%);
}

._glass_icon[data-platform="Spotify"] {
  box-shadow: inset 0 -1px 18px rgba(0, 255, 91, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="Spotify"]::after {
  background: linear-gradient(232.83deg, #1a8eb2 1.43%, #00ff5b 91.6%);
}

._glass_icon[data-platform="Twitter"] {
  box-shadow: inset 0 -1px 18px rgba(29, 161, 242, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="Twitter"]::after {
  background: linear-gradient(131.74deg, #009eff 6.15%, #00fafa 72.23%);
}

._glass_icon[data-platform="YouTube"] {
  box-shadow: inset 0 -1px 18px rgba(186, 14, 14, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="YouTube"]::after {
  background: linear-gradient(232.83deg, #fe0000 1.43%, #d70375 91.6%);
}

._link {
  display: inline-block;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

._link > svg {
  height: 100%;
  width: 100%;
}

._pointing_finger {
  --height: 15rem;
  bottom: 0;
  height: car(--height);
  left: 0;
  position: absolute;
  transform-origin: bottom center;
  transition: 170ms ease all;
  width: calc(0.6 * var(--height));
}

@media only screen and (max-width: 800px) {
  ._content {
    padding: 0 1.5rem;
    width: 100%;
  }

  ._social_links {
    --gap: 1rem;
    --icon-size: calc(
      (100vw - 2 * var(--padding-horizontal) - 3 * var(--gap)) / 4
    );
  }

  ._pointing_finger {
    display: none;
  }
} */

._content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 var(--padding-horizontal);
  text-align: center;
}

._content p {
  flex: 0 1 auto;
  text-align: inherit;
}

._fill_space {
  flex: 1 1 auto;
}

._social_links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

._glass_icon {
  --icon-size: calc((100vw - 4.5rem - 2 * var(--padding-horizontal)) / 4);
  height: var(--icon-size);
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  width: var(--icon-size);
}

._glass_icon:first-child {
  margin-left: unset;
}

._glass_icon:hover {
  filter: grayscale(100%) brightness(500%);
}

._glass_icon::before {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
  content: "";
  filter: blur(27px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

._glass_icon::after {
  content: "";
  filter: blur(15px);
  height: 60%;
  left: 30%;
  opacity: 0.33;
  position: absolute;
  top: 20%;
  width: 40%;
  z-index: -1;
}

._glass_icon[data-platform="Facebook"] {
  box-shadow: inset 0 -1px 18px rgba(11, 130, 203, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="Facebook"]::after {
  background: linear-gradient(180deg, #1b77f2 0%, #62e3ff 100%);
}

._glass_icon[data-platform="GitHub"] {
  box-shadow: inset 0 -1px 18px rgba(0, 155, 255, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="GitHub"]::after {
  background: linear-gradient(232.83deg, #009bff 1.43%, #00ffe0 91.6%);
}

._glass_icon[data-platform="Instagram"] {
  box-shadow: inset 0 -1px 18px rgba(144, 14, 176, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="Instagram"]::after {
  background: linear-gradient(
    220.87deg,
    #4967d5 24.2%,
    #db2e7d 66.35%,
    #ffaf00 91.76%
  );
}

._glass_icon[data-platform="LinkedIn"] {
  box-shadow: inset 0 -1px 18px rgba(10, 102, 194, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="LinkedIn"]::after {
  background: linear-gradient(232.83deg, #0a66c2 1.43%, #0ac2c2 91.6%);
}

._glass_icon[data-platform="Spotify"] {
  box-shadow: inset 0 -1px 18px rgba(0, 255, 91, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="Spotify"]::after {
  background: linear-gradient(232.83deg, #1a8eb2 1.43%, #00ff5b 91.6%);
}

._glass_icon[data-platform="Twitter"] {
  box-shadow: inset 0 -1px 18px rgba(29, 161, 242, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="Twitter"]::after {
  background: linear-gradient(131.74deg, #009eff 6.15%, #00fafa 72.23%);
}

._glass_icon[data-platform="YouTube"] {
  box-shadow: inset 0 -1px 18px rgba(186, 14, 14, 0.25),
    inset 0 1px 4px rgba(255, 255, 255, 0.1);
}

._glass_icon[data-platform="YouTube"]::after {
  background: linear-gradient(232.83deg, #fe0000 1.43%, #d70375 91.6%);
}

._link {
  display: inline-block;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

._link > svg {
  height: 100%;
  width: 100%;
}
